[submodule "packages/pi-notify-marker"]
	path = packages/pi-notify-marker
	url = git@github.com:arcanemachine/pi-notify-marker.git
[submodule "packages/pi-read"]
	path = packages/pi-read
	url = git@github.com:arcanemachine/pi-read.git
[submodule "packages/pi-subagent"]
	path = packages/pi-subagent
	url = git@github.com:arcanemachine/pi-subagent.git
[submodule "packages/pi-tool-guardrails"]
	path = packages/pi-tool-guardrails
	url = git@github.com:arcanemachine/pi-tool-guardrails.git
[submodule "packages/pi-web-search"]
	path = packages/pi-web-search
	url = git@github.com:arcanemachine/pi-web-search.git
[submodule "packages/pi-retry"]
	path = packages/pi-retry
	url = git@github.com:arcanemachine/pi-retry.git
[submodule "packages/pi-role"]
	path = packages/pi-role
	url = git@github.com:arcanemachine/pi-role.git
